.design {
  left: 50%;
  top: 50%;
  width: 600px;
  height: 800px;
  transform: translate(-45%, -48%);
}
.design h1 {
  top: -8px;
  left: 30px;
  z-index: 10;
  position: inherit;
  font-family: "Pokemon";
  color: var(--primary-design-text-color);
}
.design #buttons {
  z-index: 1;
  top: 225px;
  left: 305px;
  display: flex;
  position: inherit;
  align-items: center;
  flex-direction: row;
  transform: rotate(90deg);
}
.design #buttons li {
  margin-right: 5px;
}
.design .shadow {
  top: 13px;
  left: -13px;
  width: 500px;
  height: 750px;
  position: inherit;
  border-radius: 30px;
  background: var(--secondary-design-color);
}
.design .background {
  z-index: 7;
  width: 500px;
  height: 750px;
  position: inherit;
  border-radius: 30px;
  background: var(--primary-design-color);
}
.design .white-spot {
  left: 30px;
  top: 80px;
  z-index: 9;
  width: 425px;
  height: 200px;
  position: inherit;
  border-radius: 20px;
  background: var(--fourth-design-color);
}
.design .white-spot.second {
  top: 300px;
  height: 425px;
}

#wrapper {
  position: relative;
}
#wrapper #list {
  display: grid;
  max-height: 403px;
  overflow: hidden scroll;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}
#wrapper #list figcaption {
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
}
#wrapper #navigation {
  width: 100%;
  display: flex;
  margin-top: 26%;
  justify-content: space-between;
}
#wrapper #navigation #backwords, #wrapper #navigation #forwords, #wrapper #navigation #all {
  padding: 10px;
  font-size: 0.9rem;
  background: transparent;
  color: var(--primary-text-color);
}

#page-content {
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 500px;
  height: 750px;
  position: relative;
  transform: translate(-54%, -51%);
}
#page-content #list img {
  width: 96px;
  height: 96px;
  cursor: pointer;
}
#page-content #list figure.unknown {
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page-content #list figure.unknown img.unknown {
  width: 50px;
  height: 50px;
}
#page-content .line {
  background: black;
}
#page-content section {
  left: 6%;
  width: 425px;
  height: 425px;
  padding: 10px;
  position: inherit;
}
#page-content #top {
  top: 10.5%;
  height: 200px;
}
#page-content #top #page-info.inline, #page-content #top img {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}
#page-content #top img.inline {
  width: 90px;
  height: 90px;
}
#page-content #bottom {
  top: 13.25%;
}