// POKEDEX DESIGN
.design {
	left: 50%;
	top: 50%;
	width: 600px;
	height: 800px;
	transform: translate(-45%, -48%);

	h1 {
		top: -8px;
		left: 30px;
		z-index: 10;
		position: inherit;
		font-family: "Pokemon";
		color: var(--primary-design-text-color);
	}

	#buttons {
		z-index: 1;
		top: 225px;
		left: 305px;
		display: flex;
		position: inherit;
		align-items: center;
		flex-direction: row;
		transform: rotate(90deg);

		li {
			margin-right: 5px;
		}
	}

	.shadow {
		top: 13px;
		left: -13px;
		width: 500px;
		height: 750px;
		position: inherit;
		border-radius: 30px;
		background: var(--secondary-design-color);
	}

	.background {
		z-index: 7;
		width: 500px;
		height: 750px;
		position: inherit;
		border-radius: 30px;
		background: var(--primary-design-color);
	}

	.white-spot {
		left: 30px;
		top: 80px;
		z-index: 9;
		width: 425px;
		height: 200px;
		position: inherit;
		border-radius: 20px;
		background: var(--fourth-design-color);
	}

	.white-spot.second {
		top: 300px;
		height: 425px;
	}
}

#wrapper {
	position: relative;

	#list {
		display: grid;
		max-height: 403px;
		overflow: hidden scroll;
		grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	}

	#backwords, #forwords {
		padding: 10px;
		font-size: 0.9rem;
		background: transparent;
		color: var(--primary-text-color);
	}

	#forwords {
		margin: 100px 0 0 227px;
	}
}

#page-content {
	left: 50%;
	top: 50%;
	z-index: 100;
	width: 500px;
	height: 750px;
	position: relative;
	transform: translate(-54%, -51%);

	.line {
		background: black;
	}

	section {
		left: 6%;
		width: 425px;
		height: 425px;
		padding: 10px;
		position: inherit;
	}

	#top {
		top: 10.5%;
		height: 200px;
	}

	#bottom {
		top: 13.25%;
	}
}