// IMPORTS & FONT FACE
@font-face {
	font-family: "Pokemon";
	src: url(/fonts/Pokemon.ttf);
}

// COLORS

:root {
	--primary-text-color: black;
	--secondary-text-color: white;
	--primary-design-text-color: white;
	--primary-design-color: #ff4848;
	--secondary-design-color: #cb3838;
	--third-design-color: black;
	--fourth-design-color: white;
}

// BROWSER RESETS
* {
	list-style-type: none;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

h1,h2,h3,h4,h5,p,ol,ul,li,figure,body {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	color: var(--primary-design-text-color);
	cursor: pointer;
	font-size: 1.1rem;
	font-weight: bold;
	border-radius: 10px;
	background: var(--third-design-color);
	padding: 5px 15px 20px 15px;
}

li {
	width: fit-content;
	height: fit-content;
}

a {
	text-decoration: none;
}

#wrapper .design {
	position: absolute;
}

#wrapper .hide {
	display: none;
}